
@import 'lib/clear.css';
@import 'lib/common.css';
@import 'lib/skeleton.css';

body,
html {
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #888888;
  font-size: 100%;
  line-height: 200%;
  background: #FFFFFF;

  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
a {
  color: #00C0FF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: red;
}
strong {
  font-weight: 400;
}
ul.panels {
  height: 100%;
}
ul.panels li.panel {
  width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
}
/*ul.panels li.panel.panel_1 {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

ul.panels li.panel.panel_1 {
background: #485b6e; /* Old browsers */

}

ul.panels li.panel.panel_1 div.header {
  padding: 50px 0;
  color: white;
}
@media only screen and (max-width: 767px) {
  ul.panels li.panel.panel_1 div.header {
    padding: 10px 0;
  }
}

ul.panels li.panel.panel_1 div.header h1.logo {

  font: bold italic 29px/29px 'Source Sans Pro', sans-serif;
  border: 0px solid white;
  padding: 0 10px;
  float: left;
}
ul.panels li.panel.panel_1 div.header ul {
  float: right;
}
ul.panels li.panel.panel_1 div.header ul li {
  float: left;
  margin-left: 15px;
  padding: 5px 0;
}
ul.panels li.panel.panel_1 div.header ul li a.twitter,
ul.panels li.panel.panel_1 div.header ul li a.facebook,
ul.panels li.panel.panel_1 div.header ul li a.mail {
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
  overflow: none;
  background-repeat: no-repeat;
  opacity: .6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.panels li.panel.panel_1 div.header ul li a.twitter:hover,
ul.panels li.panel.panel_1 div.header ul li a.facebook:hover,
ul.panels li.panel.panel_1 div.header ul li a.mail:hover {
  opacity: 1;
}
ul.panels li.panel.panel_1 div.header ul li a.twitter {
  background: url('../images/sprite.png') 0 -214px no-repeat;
}
ul.panels li.panel.panel_1 div.header ul li a.facebook {
  background: url('../images/sprite.png') 0 -66px no-repeat;
}
ul.panels li.panel.panel_1 div.header ul li a.mail {
  background: url('../images/sprite.png') 0 -140px no-repeat;
}
ul.panels li.panel.panel_1 h3 {
  font: 600 34px/50px 'Source Sans Pro', sans-serif;
  text-align: center;
  color: white;
}
ul.panels li.panel.panel_1 div.timer {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold italic;
  font-size: 9.7em;
  line-height: 1.2em;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  ul.panels li.panel.panel_1 div.timer {
    font-size: 4.1em;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  ul.panels li.panel.panel_1 div.timer {
    font-size: 7.7em;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  ul.panels li.panel.panel_1 div.timer {
    font-size: 7.7em;
  }
}
ul.panels li.panel.panel_1 div.timer ul {
  display: inline-block;
}
ul.panels li.panel.panel_1 div.timer ul li {
  float: left;
  text-align: center;
}
ul.panels li.panel.panel_1 div.timer ul li.seperator {
  font-size: .7em;
}
ul.panels li.panel.panel_1 div.timer ul li p {
  font-weight: 200;
  font-size: 0.2em;
  line-height: 1em;
}
ul.panels li.panel.panel_1 div.subscribe {
  padding: 40px 0;
}
ul.panels li.panel.panel_1 div.subscribe h3 {
  font: 400 24px/29px 'Source Sans Pro', sans-serif;
  text-align: center;
  color: white;
}
ul.panels li.panel.panel_1 div.subscribe form {
  display: block;
  width: 520px;
  margin: 25px auto;
  text-align: center;
  color: white;
}
@media screen and (max-width: 900px) {
  ul.panels li.panel.panel_1 div.subscribe form {
    width: 100%;
  }
}
ul.panels li.panel.panel_1 div.subscribe form .error_alert {
  display: none;
}
ul.panels li.panel.panel_1 div.subscribe form .input {
  width: 300px;
  height: 34px;
  line-height: 17px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid #ccc;
  background: white;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}


@media screen and (max-width: 900px) {
  ul.panels li.panel.panel_1 div.subscribe form .input {
    width: 50%;
    margin: 0 0 10px 10px;
    display: inline-block;

  }
}




.button_input {
  padding: 18px 35px;
  background: #bd3e58;
  border: 0px;
  color: white;
  line-height: 17px;
  font-size: 16px;
  margin: 0 0 0 10px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 2px 2px 4px #000000;
}
.button_input:hover {
  background: #2c3e52;
}

ul.panels li.panel.panel_1 div.scroll {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 10px solid white;
}
ul.panels li.panel.panel_1 div.scroll div {
  font: 300 18px 'Source Sans Pro', sans-serif;
  line-height: 53px;
  text-align: center;
  background: white;
  display: block;
  width: 250px;
  height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
ul.panels li.panel.panel_1 div.scroll div span.arrow {
  background: url('../images/sprite.png') 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-left: 10px;
}
ul.panels li.panel.panel_2 {
  font-size: 15px;
  line-height: 27px;
}
ul.panels li.panel.panel_2 p {
  margin-bottom: 1.12em;
}
ul.panels li.panel.panel_2 h2 {
  font: 400 2em/1em 'Source Sans Pro', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: #555;
  margin: 1em 0;
}
ul.panels li.panel.panel_2 .left .features {
  margin-top: 50px;
}
ul.panels li.panel.panel_2 .left .features ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
}
ul.panels li.panel.panel_2 .left .features ul li {
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  ul.panels li.panel.panel_2 .left .features ul li {
    width: 100%;
  }
}
ul.panels li.panel.panel_2 .left .features ul li span {
  color: #333;
}
ul.panels li.panel.panel_2 .left .features ul li p {
  margin: 0;
}
ul.panels li.panel.panel_2 .left .features ul li img {
  float: left;
  margin: 5px 10px 0 0;
}
ul.panels li.panel.panel_2 .right #tweets {
  height: 800px;
  overflow: hidden;
}
ul.panels li.panel.panel_2 .right #tweets ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.panels li.panel.panel_2 .right #tweets ul li {
  min-height: 33px;
  font-size: 12px;
  line-height: 22px;
  clear: both;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
ul.panels li.panel.panel_2 .right #tweets ul li .tweet_avatar {
  float: left;
  border: 5px solid white;
  margin-right: 10px;
  line-height: 0px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
ul.panels li.panel.panel_2 .right #tweets ul li .tweet_avatar img {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
ul.panels li.panel.footer {
  background: #2C3337;
  font-size: 12px;
  min-height: 24px !important;
  text-align: center;
}








/* moosti specifics */
div.logo {
    background: url('../images/logo.png');
    width: 118px;
    height: 41px;
    display: block;
    position: relative;
    float: left;
}
div.audio_icon {
    background: url('../images/audio.png');
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    float: left;
    margin: 5px 0;
}


div.m_buttons {
  text-align: center;
}

ul.panels li.panel.panel_1 div.m_buttons {
  padding: 40px 0;
}

ul.panels li.panel.panel_1 div.m_buttons h3 {
  font: 400 24px/29px 'Source Sans Pro', sans-serif;
  text-align: center;
  color: white;
}

div.container1 {
 display: block;
    margin: 0 auto;
    text-align: center;
}

button.m_button {
  padding: 18px 35px;
  width: 170px;
  border: 0px;
  color: white;
  line-height: 17px;
  font-size: 16px;
  margin: 0 0 0 10px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position:relative;
  left:50%;
  text-shadow: 2px 2px 4px #000000;
}


@media only screen and (max-width: 650px) {
  button.m_button {
    left: 30%;
  }
  div.slider_focus {
    left: 30%;
  }
  div.slider_short {
    left: 30%;
  }
  div.slider_long {
    left: 30%;
  }
  img.logo {
    width:120px;
    height:29px
  }
}

@media only screen and (max-width: 900px) and (min-width: 650px) {
  button.m_button {
    left: 10%;
  }
  div.slider_focus {
    left: 10%;
  }
  div.slider_short {
    left: 10%;
  }
  div.slider_long {
    left: 10%;
  }
}

.fa-tint {
    background: url(../images/glyphicons_092_tint.png);
    position: relative;
    margin: 0 0 0 0;
    padding: 0 12px;
    opacity: 0.8;
}

button.m_button_color_n {
  background: #ed4e6e;
}
button.m_button_color_s {
  background: #bd3e58;
}

button.m_button_color_n:hover {
  background: #2c3e52;
}
button.m_button_color_s:hover {
  background: #2c3e52;
}




.slider_focus {
    width: 140px;
    height: 11px;
    background: url(../images/slider/slider-bg.png);
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 10px;
    opacity: 0.8;
    left:50%;
}

.slider_short {
    width: 140px;
    height: 11px;
    background: url(../images/slider/slider-bg.png);
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 10px;
    opacity: 0.8;
    left:50%;
}

.slider_long {
    width: 140px;
    height: 11px;
    background: url(../images/slider/slider-bg.png);
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 10px;
    opacity: 0.8;
    left:50%;
}

.ui-slider-handle {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -7px;
    margin-left: -12px;
    z-index: 200;
    background: url(../images/slider/slider-button.png);
}


.regular-checkbox {
  -webkit-appearance: none;
  margin-top: 5px;
  background-color: #e9ecee;
  border: 0px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 0px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 8px;
  position: absolute;
  top: 1px;
  left: 3px;
  color: #000000;
}


/* Effect 2: Fill up from left */
.la-anim-2 {
  position: fixed;
  left: -100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  pointer-events: none;
}

.la-anim-2.la-animate {
  z-index: 100;
  opacity: 0;
  -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
  transition: transform 5s ease-in, opacity 1s 5s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}



